.aboutMe {
    color: aliceblue;
    font-family: "Afacad", sans-serif;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    /* padding-top: 10%; */
    color: #00FFFF; 
    background-image: linear-gradient(135deg, #00FFFF 40%, #FF00FF 75%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

